
<div class="jumbotron">
    <p class="lead">Sell loot, buy equipment. You have {{player.gold}} gold.</p>
    <hr class="my-4">
  </div>

<div class="jumbotron">
    <h1 class="display-4">Vouchers</h1>
    <p class="lead">The better your voucher, the more stores you can access and the more equipment you can buy. Press the button below to upgrade your voucher.</p>
    <hr class="my-4">
    <p class="lead">Your current voucher is...{{voucher.name}}</p>
    <p class="lead">
      <div *ngIf="voucher.difficulty < 6">
        <button class="btn btn-danger btn-lg" (click)="upgradeVoucher()">Upgrade Voucher</button> 
      </div>
  </div>

<div *ngFor="let item of stores; index as i">
    <div *ngIf="item.difficulty <= voucher.difficulty"></div>
    <div class="jumbotron">
        <h1 class="display-4">{{item.name}}</h1>
        <p class="lead">{{item.description}}</p>
        <hr class="my-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select What Loot You Want To Sell
            </button>
            <div *ngFor="let lootitem of playerloot" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="sellLoot(item, lootitem)">{{lootitem.name}}</a>
            </div>
          </div>
        
      </div>
  </div>

  <div class="jumbotron">
      <h1 class="display-4">Equipment Booth</h1>
      <p class="lead">Buy new equipment for dungeondiving or cooking!</p>
      <hr class="my-4">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Modifier</th>
              <th scope="col">Type</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allEquipment">
              <ng-container *ngIf="item.type !== 'Voucher'">
              <th scope="row">{{item.name}}</th>
              <td>{{item.modifier}}</td>
              <td>{{item.type}}</td>
              <td>{{item.price}} gp</td>
              <td><button class="btn btn-danger" [value]="item.name" (click)="buyEquipment($event)">Purchase</button> </td>
            </ng-container>
            </tr>
          </tbody>
        </table>
        </div>