
<div class="jumbotron">
    <p class="lead">Sell loot, buy equipment. You have {{player.gold}} gold.</p>
    <hr class="my-4">
  </div>

<div class="jumbotron">
    <h1 class="display-4">Vouchers</h1>
    <p class="lead">The better your voucher, the more stores you can access and the more equipment you can buy. Press the button below to upgrade your voucher.</p>
    <hr class="my-4">
    <p class="lead">Your current voucher is...{{voucher.name}}</p>
    <p class="lead">
      <div *ngIf="voucher.difficulty < 6">
        <button class="btn btn-danger btn-lg" (click)="upgradeVoucher()">Upgrade Voucher</button> 
      </div>
  </div>

<div *ngFor="let item of stores; index as i">
    <div *ngIf="item.difficulty <= voucher.difficulty"></div>
    <div class="jumbotron">
        <h1 class="display-4">{{item.name}}</h1>
        <p class="lead">{{item.description}}</p>
        <hr class="my-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select What Loot You Want To Sell
            </button>
            <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <ng-container *ngFor="let lootitem of playerloot">
              <a class="dropdown-item" (click)="sellLoot(item, lootitem)">{{lootitem.name}}</a>
            </ng-container>
            </div>
          </div>
          <hr class="my-4">
            <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal" [value]="item" (click)="onClickMe($event)">Cook</button> 
      </div>
  </div>

  <div class="jumbotron">
      <h1 class="display-4">Equipment Booth</h1>
      <p class="lead">Buy new equipment for dungeondiving or cooking!</p>
      <hr class="my-4">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Modifier</th>
              <th scope="col">Type</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allEquipment">
              <ng-container *ngIf="item.type !== 'Voucher'">
              <th scope="row">{{item.name}}</th>
              <td>{{item.modifier}}</td>
              <td>{{item.type}}</td>
              <td>{{item.price}} gp</td>
              <td><button class="btn btn-danger" [value]="item.name" (click)="buyEquipmentNew($event)">Purchase</button> </td>
            </ng-container>
            </tr>
          </tbody>
        </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cooking Menu!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Select three different loot objects from your inventory. If they make a good meal, you'll get a bonus!
                    <hr>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ingredient 1
                        </button>
                        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <ng-container *ngFor="let lootitem of playerloot">
                          <a class="dropdown-item" (click)="ingredient1(lootitem)">{{lootitem.name}}</a>
                        </ng-container>
                        </div>
                      </div>
                      <hr>
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Ingredient 2
                          </button>
                          <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ng-container *ngFor="let lootitem of playerloot">
                            <a class="dropdown-item" (click)="ingredient2(lootitem)">{{lootitem.name}}</a>
                          </ng-container>
                          </div>
                        </div>
                        <hr>
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Ingredient 3
                          </button>
                          <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ng-container *ngFor="let lootitem of playerloot">
                            <a class="dropdown-item" (click)="ingredient3(lootitem)">{{lootitem.name}}</a>
                          </ng-container>
                          </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="cooker()" data-dismiss="modal">Cook</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
                </div>
              </div>
            </div>
          </div>