<h2>
  Welcome to the Questing Hub! Choose one of the questzones below and see what you find!
</h2>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
<!-- <div *ngIf="locations">
  <div *ngFor="let item of locations; index as i">
    
  <button class="btn btn-primary btn-lg" [value]="item.locationId" (click)="onClickMe($event)">{{item.name}}</button> 
</div>
</div> -->
<div *ngIf="!locations">
  No quest zones available currently. Try again in a bit.
</div>

<div *ngFor="let item of locations; index as i">
    
    <div class="jumbotron">
        <h1 class="display-4">{{item.name}}</h1>
        <p class="lead">{{item.description}}</p>
        <hr class="my-4">
        <p>Click the button below to adventure here. See what loot you get!</p>
 
        <p class="lead">
            <button class="btn btn-primary btn-lg" [value]="item.locationId" (click)="onClickMe($event)">{{item.name}}</button> 
        </p>
      </div>
  </div>


<div *ngIf="loot">
    <div *ngFor="let lootitem of loot; index as i">
      
    <div>{{lootitem.name}}</div>
  </div>
  </div>
