<h2>
  Welcome to the Questing Hub! Choose one of the questzones below and see what you find!
</h2>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Equipment Selector
    </button>
    <div *ngFor="let equip of equipment" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item">{{equip.name}}</a>
    </div>
  </div>
<!-- <div *ngIf="locations">
  <div *ngFor="let item of locations; index as i">
    
  <button class="btn btn-primary btn-lg" [value]="item.locationId" (click)="onClickMe($event)">{{item.name}}</button> 
</div>
</div> -->
<div *ngIf="!locations">
  No quest zones available currently. Try again in a bit.
</div>

<div *ngFor="let item of locations; index as i">
    
    <div class="jumbotron">
        <h1 class="display-4">{{item.name}}</h1>
        <p class="lead">{{item.description}}</p>
        <hr class="my-4">
        <p>Click the button below to adventure here. See what loot you get!</p>
 
        <p class="lead">
            <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal" [value]="item.locationId" (click)="onClickMe($event)">{{item.name}}</button> 
        </p>
      </div>
  </div>





  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Here's your haul from the last quest!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div *ngIf="loot">
                  <div *ngFor="let lootitem of loot; index as i">
                    
                  <div>{{lootitem.name}}</div>
                </div>
                </div>
                <hr>
                Your loot's been added to your inventory. Now go questing again!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>