<p>
  Welcome to the Questing Hub! Choose one of the questzones below and see what you find!
</p>

<div *ngIf="locations">
  <div *ngFor="let item of locations; index as i">
    
  <button [value]="item.locationId" (click)="onClickMe($event)">{{item.name}}</button> 
</div>
</div>
<div *ngIf="!locations">
  No quest zones available currently. Try again in a bit.
</div>
<div *ngIf="loot">
    <div *ngFor="let lootitem of loot; index as i">
      
    <div>{{lootitem.name}}</div>
  </div>
  </div>
